
.idea/artifacts/Michelangelo_war_exploded.xml

target/michelangelo/WEB-INF/classes/springMVC-config.xml

target/michelangelo/WEB-INF/classes/com/vincent/study/TestController.class

target/michelangelo/META-INF/MANIFEST.MF

target/michelangelo/index.jsp

target/classes/com/vincent/study/TestController.class

target/classes/springMVC-config.xml

target/michelangelo/WEB-INF/web.xml

.idea/artifacts/Michelangelo_war.xml

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/libraries/Maven__junit_junit_3_8_1.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

Michelangelo.iml
