<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
    <insert id="saveUser" parameterType="com.vincent.study.model.User">
        INSERT INTO User (userId, userName, userAge, userBirth, userAvatar)
        VALUES (#{userId}, #{userName}, #{userAge}, #{userBirth}, #{userAvatar})
    </insert>
    <select id="getUserObjByUserId" parameterType="java.util.Map" resultType="com.vincent.study.model.User">
        SELECT *
        FROM User
        WHERE userId = ${userId}
    </select>
</mapper>